<section class="vh-100 gradient-custom backgroundImage">
    <div class="container  py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-50">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-black card-body   text-center loginForm ">
                   
                    <div class="mb-md-4 mt-md-4  ">
                        <div class=" text-center">
                            <img src="assets/images/logo.PNG" class="rounded-circle mb-3" style="width: 125px;"
                                alt="Avatar" />
                        </div>
                        <form [formGroup]="authenticationForm" (ngSubmit)="handleVerifiacation()">

                        <div class=" text-center">
                            <img src={{qrcode}} class="card-img-top mb-2" alt="..."/>
                        </div>

                        <p class="text-black-50 mb-5">Veuillez entrer votre Code Scanner !</p>

                        <div data-mdb-input-init class="form-outline form-black-50 mb-4">
                            <input placeholder="Votre Code " type="email" id="typeEmailX"
                                class="form-control form-control-lg text-center"   formControlName="code" />
                        </div>

                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg px-5"
                            type="submit">Envoyer</button>

                        </form>

                    </div>
                  


                </div>

            </div>
        </div>
    </div>
</section>