<div class="main-container ">
    <div class="row min-height-600 no-flex-wrap">

        <div class="card col-md-2  ml-1 menu " >
            <app-menu></app-menu>
        </div>
        <div class="card col-md-10 content border-none ">
            <div class="col ">
                <div class="card mb-2">
                    <app-header></app-header>
                </div>
                <div class="card mb-3 overflow-hidden">
                    <router-outlet></router-outlet>
                </div>
                <div class="card ">
                    <app-footer></app-footer>
                </div>
            </div>

        </div>


    </div>
</div>