<!-- <p>header works!</p> -->
<header class="p-1 mb-1 border-bottom ">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
       

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li>  <i class="material-icons mt-1">person</i> </li>
          <li><a href="#" class="nav-link  link-dark"><b>Hello</b> &nbsp; [Seydou Nanouroukou Kone]</a></li>
         
        </ul>

       


        <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <button type="button" class="btn btn-outline-danger btn-sm m-2">Ajouter</button>
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                  <li><a class="dropdown-item" href="compte/add-employer">Employer</a></li>
                  <li><a class="dropdown-item" href="compte/add-student">Elève</a></li>
                  <li><a class="dropdown-item" href="compte/add-teacher">Professeur</a></li>
                  <li><a class="dropdown-item" href="compte/add-user">Utilisateur</a></li>
             
            </ul>
          </div>

       


        <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="assets/images/logo.PNG" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="#">Paramètre</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="signout()">Déconnexion</a></li>
            </ul>
          </div>
        
      </div>
    </div>
  </header>

  